{% load i18n %}{% autoescape off %}{% load recovery_extras %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {% endblocktrans %}{% get_site_name %}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{% get_url_confirm_password %}{{uid}}/{{token}}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% endautoescape %}